.DS_Store
._*
.AppleDouble
.LSOverride

.vscode/
.idea/

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
.pnpm-store/

dist/
build/
coverage/
.cache/
.tmp/
tmp/
temp/

.env
.env.*
!.env.example

apps/*.app/
apps/**/*.app/
apps/**/*.asar
apps/**/*.asar.unpacked/
